#memberList{
    width: 80%;
    border-collapse: collapse;
    margin-top: 1%;
    margin-left: 10%;
    margin-top: 0.6%;
}
#memberList th:nth-child(1){
    width:70%;
    padding: 1%;
    border-left: 1px solid #ccc;    
}
#memberList thead tr th{
    text-align: left;
    border-width: 1px 0px;
    border-color:#ccc;
    border-style: solid;
    margin-top:1%;
}
#memberList td{
    border-width: 1px 0px;
    border-color:#ccc;
    border-style: solid;
}
#memberList td{
    width:100%;
    padding: 1%;
    border: 1px solid #ccc;
}
/* #memberList td:last-child{
    border-right: 1px solid #ccc;
    text-align: right;
    padding-right: 6% !important;
} */
#memberList th:last-child{
    border-right: 1px solid #ccc;
    text-align: right;
    padding-right: 6% !important;    
}
/* #memberList td:nth-child(1){
    width:70%;
    padding: 1%;
} */
#Team{
    background: purple;
    color: #fff;
    padding: 5%;
    font-size: 240%;
    margin: -0.6%;
}
#memberList td>span{
    height:1%;
    width:1%
}
.userPhoto {
    background-color: #ccc;
    /* padding: 1% 2.5%; */
    border-radius: 20%;
    /* margin-right: 1%; */
    width: 5%;
    height: 2.5em;
    display: inline-block;
}
/* span.ng-binding {
    margin-left: 6%;
    color: #ccc;
} */
fa-angle-right:visited{
    content: "\f00c";
    color: #80b54d;
}
#memberName {
    /* text-align: left; */
    width: 83%;
    display: inline-block;
    vertical-align: top;
}
#selectMember {
    width: 10%;
    /* float: right; */
    /* margin-top: -4%; */
    display: inline-block;
    vertical-align: top;
}
#Address {
    margin: 1% -1% -1% -1%;
    background: #eee;
    padding: 1%;
    text-align:right;
    padding-right: 4%;
    opacity: 0.4;
}
#selectMember span{
    vertical-align: middle;
}
#memberName div:last-child{
    color:#ccc;
}
#Address span{
    color: #999;
}