<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div ng-app="firstApp" ng-controller="MyController">
            <div id="Team">Team Members</div>
            <div>
                
            </div>
            <table id="memberList">
                <thead>
                    <tr>
                        <th>
                            <input type="search" id="search" placeholder="Find by name" ng-model="searchInput">
                        </th>
                        <th>
                            {{filteredUsers.length}} People
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in Users | filter:{name:searchInput} as filteredUsers">
                        <td colspan="2">
                            <div>
                                <div class="userPhoto"></div>
                                <div id='memberName'>
                                    <div>{{user.name}}</div>
                                    <div>{{user.email}}</div>
                                </div>
                                <div id="selectMember">
                                     <span>Member</span>
                                     <span class="fa" style="font-size:24px" ng-click="showAddress = !showAddress" ng-class="showAddress?'fa-angle-down': 'fa-angle-right'"></span>
                                </div>
                            </div>
                            <div id="Address" ng-if="showAddress">Address: <span>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}</span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>


